/* styles.css */

/* Add styles here to customize the appearance of your app */
:root {
    --hover-color: blueviolet;
    --selected-color: palevioletred;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    user-select: none;
}

#app {
    display: flex;
    height: 100vh;
}

.left {
    width: 150px;
    font-size: 14px;
    list-style: none;
    background-color: rgb(223, 230, 226);
}

.left>li {
    padding: 10px;

    &:hover {
        background-color: var(--hover-color);
    }

    &.active {
        background-color: var(--selected-color);
    }
}

.grid {
    flex: 1;
    overflow: auto;
    padding: 5px;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: space-evenly;
    gap: 10px;
    font-size: 12px;
    list-style: none;
}

.main>li {
    text-align: center;

    >img {
        padding: 1px;
        width: 96px;
        border: 2px solid transparent;
        border-radius: 5px;
    }

    &:hover>img {
        border-color: var(--hover-color);
    }

    &.active>img {
        border-color: var(--selected-color);
    }
}

.right {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    width: 150px;
    text-align: center;
    border-left: 1px solid rgb(185, 185, 185);

    img {
        width: 128px;
        height: 128px;
    }

    p {
        padding: 5px;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid gainsboro;
        border-radius: 6px;
    }

    button {
        width: 100%;
        height: 30px;
    }
}